target/
output/
install.sh
maven-wrapper.jar

#Ignore IntelliJ IDEA project files
.idea/
*.uml
*.iml
*.ipr
*.iws

#Eclipse project files
.classpath
.project
.settings/
bin/

#NetBeans project files
nbproject/
**/nb-configuration.xml

#Documentation
docs/presentation/node_modules/
/docs/_build

dependency-reduced-pom.xml
.flattened-pom.xml
Teste.java
Test.java
.DS_Store
*.jar
*.~lock*
~$*

deploy.sh
checkstyle.sh
node_modules/
