.DS_Store
/docs/_build
/cloudsim-plus/target/
/cloudsim-plus-examples/target/
/cloudsim-plus-benchmarks/target/
/cloudsim-plus-testbeds/target/
/cloudsim-plus/nbproject/
/distribution/target/
/target/
dependency-reduced-pom.xml
/cloudsim-plus-examples/output/
#Ignore IntelliJ IDEA project files
.idea/
*.uml
*.iml
*.ipr
*.iws

#Eclipse project files
.classpath
.project
.settings/
bin/

#NetBeans project files
nbproject/
**/nb-configuration.xml

#Documentation
docs/presentation/node_modules/

*.jar
*.~lock*
~$*
