<?xml version="1.0" encoding="UTF-8"?>
<!-- Logback configuration file. For details check http://logback.qos.ch -->
<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%highlight(%-5level %msg%n)</pattern>
        </encoder>
    </appender>

    <root level="debug">
        <appender-ref ref="STDOUT" />
    </root>
</configuration>
